.threecard {
  padding: 12rem 5rem 14rem 10rem;
  background-color: #f2f3ed;

  &-slogan {
    padding-right: 25rem;
    font-size: 5rem;
    font-family: "Lora", serif;
    line-height: 8rem;
    font-weight: 200;
    margin-bottom: 0rem;

    &-circle {
      padding: 0.5rem 1.5rem 0.5rem 1.5rem;
      border: 0.3rem solid green;
      border-radius: 10rem;
      margin-top: 10rem;
    }
  }

  &-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
