.smartbudget {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-titleandslogan {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      font-family: "Ubuntu", sans-serif;
      font-size: 1.8rem;
      opacity: 0.9;
      text-align: center;
      letter-spacing: 0.2rem;
      font-weight: 700;
      color: #eb4e27;
    }

    &-slogan {
      font-size: 4.97rem;
      font-family: "Lora", serif;
      line-height: 8rem;
      text-align: center;
      font-weight: 200;
    }
  }

  &-textandimage {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

    &-1 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 66rem;
      margin-right: 5rem;

      &-text {
        font-family: "Ubuntu", sans-serif;
        font-size: 1.5rem;
        text-align: justify;
        letter-spacing: 0.1rem;
        line-height: 2.4rem;
      }

      &-image {
        border-radius: 2.5rem;
        width: 100%;
      }
    }

    &-2 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 66rem;

      &-text {
        margin-bottom: 6.5rem;
        font-family: "Ubuntu", sans-serif;
        font-size: 1.5rem;
        text-align: justify;
        letter-spacing: 0.1rem;
        line-height: 2.4rem;
      }

      &-image {
        border-radius: 2.5rem;
        width: 100%;
      }
    }
  }

  .casestudyandimage {
    display: flex;
    flex: row;
    justify-content: center;
    align-content: flex-start;
    margin-bottom: 10rem;
    margin-top: 10rem;

    &-casestudy {
      background-color: #13353e;
      width: 34rem;
      height: 27rem;
      padding: 4rem;

      &-firsttitle {
        font-family: "Ubuntu", sans-serif;
        font-size: 1.8rem;
        opacity: 0.9;
        text-align: left;
        letter-spacing: 0.2rem;
        font-weight: 700;
        color: #eb4e27;
      }
      &-secondtitle {
        font-family: "Lora", serif;
        font-size: 2.5rem;
        font-weight: 100;
        color: rgba(255, 255, 255);
        letter-spacing: 0.1rem;
      }

      &-description {
        font-family: "Ubuntu", sans-serif;
        font-size: 1.7rem;
        font-weight: 100;
        color: rgba(255, 255, 255);
        text-align: left;
        line-height: 3.3rem;
      }

      &-buttontext {
        border-style: none;
        background-color: #13353e;
        font-family: "Ubuntu", sans-serif;
        font-size: 1.7rem;
        font-weight: 700;
        color: rgba(255, 255, 255);
        text-align: left;
        line-height: 3.3rem;
        padding: 0rem;

        &-arrow {
          display: inline;
          border: 0.2rem solid;
          border-radius: 1000rem;
          padding: 0rem 0.4rem;
          margin-left: 1rem;
        }
      }
    }

    &-image {
      width: auto;
      height: 35rem;
    }
  }

  &-thanks {
    width: 102rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;

    &-thankstext {
      font-size: 4rem;
      font-family: "Lora", serif;
      line-height: 8rem;
      text-align: center;
      font-weight: 200;
      margin-bottom: 0rem;
    }

    &-thankslogotext {
      opacity: 0.2;
      font-family: "Ubuntu", sans-serif;
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 0.3rem;
    }

    &-thankslogo {
      opacity: 0.2;
      width: 20rem;
    }
  }
}

@media screen and (min-width: 3440px) {
  .smartbudget {
  }
}

@media screen and (max-width: 3439px) and (min-width: 2710px) {
  .smartbudget {
  }
}

@media screen and (max-width: 2709px) and (min-width: 1440px) {
  .smartbudget {
  }
}

@media screen and (max-width: 1374px) and (min-width: 1024px) {
  .smartbudget {
    &-textandimage {
      &-1 {
        width: 49.5rem;
        margin-right: 3rem;
      }

      &-2 {
        width: 49.5rem;

        &-text {
          margin-bottom: 9rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) and (min-width: 666px) {
  .smartbudget {
    &-textandimage {
      flex-direction: column;
      align-items: center;
      &-1 {
        margin-right: 0rem;
      }
      &-2 {
        &-text {
          margin-bottom: 1.8rem;
        }
      }
    }
  }
}

@media screen and (max-width: 665px) and (min-width: 424px) {
  .smartbudget {
    &-textandimage {
      flex-direction: column;
      align-items: center;
      &-1 {
        width: 41rem;
        margin-right: 0rem;
      }
      &-2 {
        width: 41rem;
        &-text {
          margin-bottom: 1.8rem;
        }
      }
    }
  }
}

@media screen and (max-width: 423px) and (min-width: 320px) {
  .smartbudget {
    &-titleandslogan {
      &-slogan {
        font-size: 4rem;
        line-height: 7rem;
        text-align: center;
      }
    }

    &-textandimage {
      flex-direction: column;
      align-items: center;

      &-1 {
        width: 31rem;
        margin-right: 0rem;
      }
      &-2 {
        width: 31rem;
        &-text {
          margin-bottom: 1.8rem;
        }
      }
    }
  }
}

///

@media screen and (max-width: 1440px) and (min-width: 1024px) {
  .smartbudget {
    .casestudyandimage {
      display: flex;
      flex: row;
      justify-content: center;
      align-content: flex-end;
      margin-bottom: 10rem;
      margin-top: 10rem;
      width: auto;
      height: 70rem;

      &-casestudy {
        background-color: #13353e;
        width: 15%;
        height: 21.4rem;
        padding: 4rem;

        &-firsttitle {
          font-size: 1.5rem;
        }
        &-secondtitle {
          font-size: 2rem;
        }

        &-description {
          font-size: 1.5rem;
          line-height: 2.5rem;
          margin: 0rem;
        }

        &-buttontext {
          font-size: 1.5rem;

          line-height: 2.5rem;
        }
      }

      &-image {
        width: auto;
        height: 42%;
      }
    }
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .smartbudget {
    .casestudyandimage {
      width: auto;
      height: 69rem;

      &-casestudy {
        width: 15%;
        height: 20.8rem;
        padding: 1rem;

        &-firsttitle {
          font-size: 1.2rem;
        }
        &-secondtitle {
          font-size: 1.5rem;
        }

        &-description {
          font-size: 1.2rem;
          line-height: 1.7rem;
        }

        &-buttontext {
          font-size: 1rem;
          line-height: 0rem;
        }
      }

      &-image {
        width: auto;
        height: 33%;
      }
    }
  }
}

@media screen and (max-width: 767px) and (min-width: 600px) {
  .smartbudget {
    .casestudyandimage {
      flex-direction: column-reverse;
      text-align: center;

      &-casestudy {
        width: 58rem;
        padding: 1rem;
        text-align: center;

        &-firsttitle {
          font-size: 3rem;
          text-align: center;
        }
        &-secondtitle {
          font-size: 3rem;
          text-align: center;
        }

        &-description {
          font-size: 2rem;
          line-height: 3rem;
          text-align: center;
        }

        &-buttontext {
          font-size: 2rem;
          line-height: 3rem;
        }
      }

      &-image {
        width: 60rem;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 599px) and (min-width: 375px) {
  .smartbudget {
    .casestudyandimage {
      flex-direction: column-reverse;
      text-align: center;

      &-casestudy {
        width: 33rem;
        padding: 1rem;
        text-align: center;

        &-firsttitle {
          font-size: 2.5rem;
          text-align: center;
        }
        &-secondtitle {
          font-size: 2.5rem;
          text-align: center;
        }

        &-description {
          font-size: 1.8rem;
          line-height: 3rem;
          text-align: center;
        }

        &-buttontext {
          font-size: 2rem;
          line-height: 3rem;
        }
      }

      &-image {
        width: 35rem;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 375px) and (min-width: 320px) {
  .smartbudget {
    .casestudyandimage {
      flex-direction: column-reverse;
      text-align: center;

      &-casestudy {
        width: 28rem;
        padding: 1rem;
        text-align: center;

        &-firsttitle {
          font-size: 2rem;
          text-align: center;
        }
        &-secondtitle {
          font-size: 2rem;
          text-align: center;
        }

        &-description {
          font-size: 1.8rem;
          line-height: 3rem;
          text-align: center;
        }

        &-buttontext {
          font-size: 2rem;
          line-height: 3rem;
        }
      }

      &-image {
        width: 30rem;
        height: auto;
      }
    }
  }
}
