.secondarticlecs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &-imageandslogan {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 3rem;

    &-image {
      width: 55rem;
      height: auto;
      border-radius: 2.5rem;
    }

    &-slogan {
      font-size: 5rem;
      font-family: "Lora", serif;
      line-height: 8rem;
      text-align: left;
      font-weight: 200;

      &-circle {
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
        border: 0.3rem solid #376961;
        border-radius: 10rem;
      }
    }
  }

  &-description {
    &-1 {
      font-family: "Ubuntu", sans-serif;
      font-size: 1.8rem;
      opacity: 0.9;

      &-title {
        text-align: left;
        letter-spacing: 0.3rem;
        font-weight: 700;
        color: #eb4e27;
        margin-bottom: 1rem;
      }
      &-text {
        text-align: justify;
        line-height: 3.3rem;
      }
    }

    &-2 {
      font-family: "Ubuntu", sans-serif;
      font-size: 1.8rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;

      &-1 {
        width: 60rem;

        &-title {
          font-family: "Lora", serif;
          font-size: 2.5rem;
          text-align: left;
          letter-spacing: 0.1rem;
          font-weight: 700;
          margin-bottom: 1rem;
        }
        &-text {
          text-align: justify;
          line-height: 3.3rem;
        }
      }

      &-2 {
        &-text {
          width: 60rem;
          text-align: justify;
          line-height: 3.3rem;
        }
      }
    }
  }
}

@media screen and (min-width: 3440px) {
  .secondarticlecs {
    margin-left: 31%;
    margin-right: 31%;
  }
}

@media screen and (max-width: 3439px) and (min-width: 2710px) {
  .secondarticlecs {
    margin-left: 29%;
    margin-right: 29%;
  }
}

@media screen and (max-width: 2709px) and (min-width: 1440px) {
  .secondarticlecs {
    margin-left: 29%;
    margin-right: 29%;
    &-article {
      &-slogan {
        width: 56rem;
      }
    }
  }
}

@media screen and (max-width: 1439px) and (min-width: 1024px) {
  .secondarticlecs {
    &-article {
      min-width: 55.9rem;
      max-width: 55.9rem;
    }
    &-imageandslogan {
      &-image {
        display: block;
        width: 35rem;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 1023px) and (min-width: 895px) {
  .secondarticlecs {
    &-article {
      width: 50rem;
      &-slogan {
        width: 50rem;
      }
    }
    &-imageandslogan {
      margin-top: 4rem;

      &-image {
        display: block;
        width: 30rem;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 894px) and (min-width: 768px) {
  .secondarticlecs {
    &-article {
      width: 50rem;
      &-slogan {
        width: 50rem;
      }
    }
    &-imageandslogan {
      margin-top: 4rem;

      &-image {
        display: block;
        width: 23rem;
        height: 46.8rem;
      }
    }
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .secondarticlecs {
    margin-right: 3%;
    margin-left: 3%;
    flex-direction: column-reverse;
    align-items: center;

    &-imageandslogan {
      position: relative;

      &-image {
        width: 36rem;
      }
    }

    &-article {
      display: flex;
      flex-direction: column;
      margin-left: 0rem;

      &-slogan {
        font-size: 4rem;
        line-height: 6rem;
        text-align: center;

        &-circle {
          padding: 0.5rem 1.5rem 0.5rem 1.5rem;
          border: 0.3rem solid green;
          border-radius: 10rem;
        }
      }

      &-description {
        font-size: 1.7rem;

        &-title {
          text-align: center;
          letter-spacing: 0.2rem;

          margin-bottom: 0.8rem;
        }
        &-text {
          line-height: 3rem;
        }
      }
    }
  }
}

// @media screen and (max-width: 539px) and (min-width: 320px) {
//   .secondarticlecs {
//     margin-left: 1%;
//     flex-direction: column;
//     align-items: center;
//     &-article {
//       margin-left: 3rem;
//       &-slogan {
//         margin: 0rem;
//         font-size: 2.76rem;
//         line-height: 4.5rem;
//       }

//       &-description {
//         font-size: 1.7rem;
//         width: 31rem;
//         max-width: 33.5rem;

//         &-text {
//           line-height: 2.5rem;
//         }
//       }
//     }

//     &-imageandslogancard {
//       &-image {
//         height: 40rem;
//       }

//       &-slogancard {
//         width: 24rem;
//         height: 17rem;

//         position: absolute;
//         top: 10rem;
//         left: 4.8rem;

//         &-slogan {
//           width: 19rem;
//           margin-top: 1.5rem;
//         }
//       }
//     }
//   }
// }

// @media screen and (max-width: 319px) {
//   .secondarticlecs {
//     margin-left: 10%;
//     flex-direction: column;
//     align-items: center;
//     &-article {
//       margin-left: 3rem;
//       &-slogan {
//         margin: 0rem;
//         font-size: 2.23rem;
//         line-height: 4rem;
//       }

//       &-description {
//         font-size: 1.7rem;
//         width: 25rem;
//         max-width: 33.5rem;

//         &-text {
//           line-height: 2.5rem;
//         }
//       }
//     }

//     &-imageandslogancard {
//       &-image {
//         height: 32rem;
//       }

//       &-slogancard {
//         width: 24rem;
//         height: 17rem;

//         position: absolute;
//         top: 6rem;
//         left: 1rem;

//         &-slogan {
//           width: 19rem;
//           margin-top: 1.5rem;
//         }
//       }
//     }
//   }
// }
