.scrollsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 66rem;

  &-logoandtitle {
    display: flex;
    flex-direction: row;
    align-items: center;

    &-logo {
      width: 13.75rem;
    }

    &-title {
      font-family: "Lora", serif;
      font-size: 2.5rem;
      opacity: 0.9;
      font-weight: 700;
      text-align: left;
      letter-spacing: 0.3rem;
      color: black;
      margin-bottom: 1rem;
    }
  }

  &-description {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.8rem;
    opacity: 0.9;
    text-align: justify;
    line-height: 3.3rem;
  }
}

@media screen and (max-width: 2107px) and (min-width: 1771px) {
  .scrollsection {
    width: 55rem;
  }
}

@media screen and (max-width: 1770px) and (min-width: 1441px) {
  .scrollsection {
    width: 44rem;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1023px) {
  .scrollsection {
    width: 44rem;
    &-logoandtitle {
      &-logo {
        width: 12rem;
      }

      &-title {
        font-size: 1.7rem;
        letter-spacing: 0.2rem;
      }
    }

    &-description {
      font-size: 1.7rem;
      line-height: 3rem;
    }
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .scrollsection {
    width: 44rem;
    &-logoandtitle {
      &-logo {
        width: 10rem;
      }

      &-title {
        font-size: 1.6rem;
        letter-spacing: 0.2rem;
      }
    }

    &-description {
      font-size: 1.6rem;
      line-height: 2.75rem;
    }
  }
}

@media screen and (max-width: 768px) and (min-width: 426px) {
  .scrollsection {
    width: 33rem;
    &-logoandtitle {
      &-logo {
        width: 10rem;
      }

      &-title {
        font-size: 1.6rem;
        letter-spacing: 0.2rem;
      }
    }

    &-description {
      font-size: 1.6rem;
      line-height: 2.75rem;
    }
  }
}

@media screen and (max-width: 425px) and (min-width: 320px) {
  .scrollsection {
    width: 25rem;
    &-logoandtitle {
      &-logo {
        width: 8rem;
      }

      &-title {
        font-size: 1.6rem;
        letter-spacing: 0.2rem;
      }
    }

    &-description {
      font-size: 1.6rem;
      line-height: 2.5rem;
    }
  }
}
