.partnerships {
  padding: 8rem 0rem 10rem 6rem;
  display: flex;
  flex-direction: row;

  &-slogananddescription {
    display: flex;
    flex-direction: column;

    &-slogan {
      font-size: 5rem;
      font-family: "Lora", serif;
      line-height: 8rem;
      text-align: left;
      font-weight: 200;
      width: 55rem;
    }

    &-description {
      font-family: "Ubuntu", sans-serif;
      font-size: 1.8rem;
      opacity: 0.9;
      width: 53rem;
    }
  }
  &-logos {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: center;

    &-logo {
      width: 80%;
    }
  }
}
