.asifbymagic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #f2f3ed;

  &-title {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.8rem;
    opacity: 0.9;
    text-align: left;
    letter-spacing: 0.2rem;
    font-weight: 700;
    color: #eb4e27;
  }

  &-slogan {
    font-size: 5rem;
    font-family: "Lora", serif;
    line-height: 8rem;
    text-align: left;
    font-weight: 200;

    &-circle {
      padding: 0.5rem 1.5rem 0.5rem 1.5rem;
      border: 0.3rem solid green;
      border-radius: 10rem;
    }
  }
}

@media screen and (min-width: 3440px) {
  .asifbymagic {
  }
}

@media screen and (max-width: 3439px) and (min-width: 2710px) {
  .asifbymagic {
  }
}

@media screen and (max-width: 2709px) and (min-width: 1440px) {
  .asifbymagic {
  }
}

@media screen and (max-width: 1439px) and (min-width: 1024px) {
  .asifbymagic {
  }
}

@media screen and (max-width: 1023px) and (min-width: 895px) {
  .asifbymagic {
  }
}

@media screen and (max-width: 894px) and (min-width: 320px) {
  .asifbymagic {
    flex-direction: column;
    &-slogan {
      text-align: center;
    }
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .asifbymagic {
    flex-direction: column;
    &-slogan {
      text-align: center;
      font-size: 4rem;
      line-height: 7rem;
    }
  }
}
